# Ignore all parent .gitignore files
!*
j
# Starling's own ignore
*/test-output.timestamp
generated.props.conf
props*.conf
/.idea/workspace.xml
/.idea/dataSources.*
starling.running
/.idea/copyright/*
**/*.log
*.scala~
core/.emacs-ide/
core/logs/
*/target*
**/classes
**/test-classes
derby.log
imports-for-repl
*/pid.txt
pid.txt
*/*log
*/*logs
*.*.swp
target
test-output
**/target/
*.lock
*.log
out
.classpath
.project
.scala_dependencies
tags
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
services/src/starling/Scratch.scala
modulejarcache/*
starling_*
external_imports
.idea
build-time
!*.iml
