.idea/workspace.xml
.idea/misc.xml
*/.maker
.maker/lib
.maker/scala
tags
out
*.class
GPATH
GRTAGS
GSYMS
GTAGS
*.png
maker.jar
maker-scalatest-reporter.jar
*/vim-source-compile-output
*/vim-test-compile-output
vim-compile-output
vim-test-compile-output
lib_managed
lib_src_managed
*ivy-dynamic.ivy
.maker.vim/
maker-session.log
doccmd.sh
runcmd.sh
rundoc.out
runlog.out
libs
target
maker-test-output
maker-classpath.sh
props.conf
Maker.conf
*vim*compile-output
proj-compile-output
*.log
scala-libs
zinc-libs
