.idea/workspace.xml
.idea/misc.xml
.maker
.maker/lib
.maker/scala
tags
out
*.class
GPATH
GRTAGS
GSYMS
GTAGS
*.png
maker.jar
maker-scalatest-reporter.jar
*/vim-source-compile-output
*/vim-test-compile-output
vim-compile-output
vim-test-compile-output
lib_managed
test_lib_managed
lib_src_managed
test_lib_src_managed
.maker.vim/
maker-session.log
maker-test-output
maker-classpath.sh
props.conf
Maker.conf
*vim*compile-errors
maker-commands.log
*-classpath.sh
maker.log
scala-libs
**/.maker-libs
*/target-maker
logback-vim.xml
