*.iws
*.iml
*.ipr
*.sln
*.suo
*.log
obj
bin
GeneratedModel
*.csproj.user
FitNesseRoot/**/*.zip
FitNesseRoot/ErrorLogs
**/.idea/*
**/.idea/libraries
*~
**/test-output
**/_ReSharper*
**/TestResults
.idea/
scala-model-with-persistence/target/
scala-model-with-persistence/model-src/
scala-model/target/
target/

# Eclipse specific files
.project
.classpath
.scala_dependencies
**/.settings/*
/.settings/

